<ion-tabs class="tabs-icon-top tabs-positive">

 <ion-tab title="Home" icon="ion-home" href="#/opcion/home" 
  badge="data.badgeCount" ng-controller="HomeCtrl" badge-style="badge-assertive">
  <ion-nav-view name="home-opcion"></ion-nav-view>
 </ion-tab>
 
 <!--
 <ion-tab title="About" icon="ion-ios-information" href="#/menu/tab/reportes">
  <ion-nav-view name="about-opcion"></ion-nav-view>
 </ion-tab>
 -->

 <ion-tab title="About" icon="ion-ios-information" href="#/opcion/about">
  <ion-nav-view name="about-opcion"></ion-nav-view>
 </ion-tab>

</ion-tabs>
